*.swp
.ipynb_checkpoints/
.ipynb_checkpoints/*
.DS_Store
check_py_stack.html
check_r_stack.html
check_dev_stack.html
us.tif
db_test.feather
.jupyter/
virtualbox/.vagrant/
virtualbox/*.ova
.sass-cache/
*/sass-cache/
.claude/
._site/
*/_site/
website/_includes/
website/_includes/*
website/.jekyll-metadata
build.log
*/build.log
*/build*.log
*/test_*.log
utils/provider-url.txt
