# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-32
@EXPLICIT
https://conda.anaconda.org/conda-forge/win-32/affine-2.0.0.post1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/backports.shutil_get_terminal_size-1.0.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/backports_abc-0.4-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-32/bokeh-0.12.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-32/boto3-1.3.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/botocore-1.4.49-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/cartopy-0.14.2-np111py27_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/certifi-2016.8.31-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/click-6.6-py27_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/click-plugins-1.0.3-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-32/cligj-0.4.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/cloudpickle-0.2.1-py27_2.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/clusterpy-0.9.9-py27_2.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/colorama-0.3.7-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/configparser-3.5.0b2-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/curl-7.49.1-vc9_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/cycler-0.10.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/dask-0.11.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/decorator-4.0.10-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/descartes-1.0.2-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/distributed-1.13.2-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/docutils-0.12-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/entrypoints-0.2.2-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/enum34-1.1.6-py27_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/expat-2.1.0-vc9_2.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/fiona-1.7.0-np111py27_2.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/freetype-2.6.3-vc9_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/freexl-1.0.2-vc9_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/funcsigs-1.0.2-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/functools32-3.2.3.2-py27_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/futures-3.0.5-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/gdal-2.1.1-np111py27_vc9_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/geopandas-0.2.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/geopy-1.10.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/geos-3.4.2-vc9_2.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/hdf4-4.2.12-vc9_0.tar.bz2
https://conda.anaconda.org/ioos/win-32/hdf5-1.8.17-vc9_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/heapdict-1.0.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/ipykernel-4.5.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/ipython-5.1.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/ipython_genutils-0.1.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/ipywidgets-5.2.2-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/jinja2-2.8-py27_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/jmespath-0.9.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/jpeg-9b-vc9_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/jsonschema-2.5.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-32/jupyter-1.0.0-py27_3.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/jupyter_client-4.4.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/jupyter_console-5.0.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/jupyter_core-4.2.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/kealib-1.4.6-vc9_3.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/libiconv-1.14-vc9_3.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/libnetcdf-4.4.0-vc9_2.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/libpng-1.6.24-vc9_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/libspatialindex-1.8.5-vc9_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/libspatialite-4.3.0a-vc9_9.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/libtiff-4.0.6-vc9_6.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/libxml2-2.9.4-vc9_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/locket-0.2.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-32/lxml-3.6.4-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/markupsafe-0.23-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/matplotlib-1.5.3-np111py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/mistune-0.7.3-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-32/mkl-11.3.3-1.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/mock-2.0.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/mplexporter-0.0.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/mplleaflet-0.0.5-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-32/msgpack-python-0.4.7-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/munch-2.0.4-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/nbconvert-4.2.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/nbformat-4.1.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-32/networkx-1.11-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/nose-1.3.7-py27_2.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/notebook-4.2.3-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-32/numpy-1.11.1-py27_1.tar.bz2
https://conda.anaconda.org/ioos/win-32/openjpeg-2.1.0-vc9_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/owslib-0.12.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/palettable-2.1.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/pandas-0.18.1-np111py27_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/partd-0.3.6-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/pathlib2-2.1.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/patsy-0.4.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/pbr-1.10.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/pickleshare-0.7.3-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-32/pil-1.1.7-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/pillow-3.3.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/pip-8.1.2-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/proj.4-4.9.2-py27_vc9_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/prompt_toolkit-1.0.7-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/psutil-4.3.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/pyepsg-0.3.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/pygments-2.1.3-py27_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/pyparsing-2.1.8-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/pyproj-1.9.5.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-32/pyqt-4.10.4-py27_1.tar.bz2
https://repo.continuum.io/pkgs/free/win-32/pyreadline-2.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/pysal-1.11.2-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/pyshp-1.2.3-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/python-2.7.12-1.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/python-dateutil-2.5.3-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/pytz-2016.6.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/pyyaml-3.11-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/pyzmq-15.4.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-32/qgrid-0.3.2-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/qtconsole-4.2.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/rasterio-0.36.0-np111py27_2.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/requests-2.11.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/rtree-0.8.2-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/s3fs-0.0.6-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-32/scikit-learn-0.17.1-np111py27_1.tar.bz2
https://repo.continuum.io/pkgs/free/win-32/scipy-0.18.1-np111py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/seaborn-0.7.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/setuptools-26.1.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/shapely-1.5.17-np111py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/simplegeneric-0.8.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/singledispatch-3.4.0.3-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/six-1.10.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/snuggs-1.4.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-32/sqlalchemy-1.0.13-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/sqlite-3.13.0-vc9_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/ssl_match_hostname-3.5.0.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/statsmodels-0.6.1-np111py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-32/tblib-1.3.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/toolz-0.8.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/tornado-4.4.1-py27_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/traitlets-4.3.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-32/vs2008_runtime-9.00.30729.1-2.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/wcwidth-0.1.7-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/wheel-0.29.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/widgetsnbextension-1.2.6-py27_3.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/win_unicode_console-0.5-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/wincertstore-0.2-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/xerces-c-3.1.4-vc9_2.tar.bz2
https://repo.continuum.io/pkgs/free/win-32/xlrd-1.0.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/win-32/xlsxwriter-0.9.3-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/yaml-0.1.6-vc9_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/zict-0.0.3-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-32/zlib-1.2.8-vc9_3.tar.bz2
